<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018 杭州端点网络科技有限公司
  -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="MODULE_NAME" value="sentinel-demo"/>
    <property name="LOG_PATH" value="${user.home}/logs/csp"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${MODULE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${MODULE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="WARN">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.alibaba.csp" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>
